body,html{
	height: auto;
	width: auto;
}

#logo{
	position: relative;
	bottom: 1100px;
	left: 80px;
	height: 90%;
	width: 90%; 
}

#text{
  position: relative;
  bottom: 400px;
  height: 70%;
  left: 15px;
}

#arrow{
	position: relative;
	bottom: 1400px;
	left: 550px;
}

#container {
  height:70%;
  width:70%;
  position: relative;
  left: 125px;
  bottom: 15%;
  background:#000000;
}

#logotop{
  position: relative;
	height: 40%;
	width: 20%;
  left: 40%;
  bottom: 50px;
}

#tl{		
  overflow: hidden;
  height:92%;
  width:35%;
  position:absolute;
  top:3%;
  left:2%;
  background:#FF5050;
  transition:all ease .15s;
}

#tc{
  overflow: hidden;
  height:44%;
  width:45%;
  position:absolute;
  top:3%;
  left:39.5%;
  background:#FF5050;
  transition:all ease .15s;
}

#tr{
  overflow: hidden;
  height:44%;
  width:45%;
  position:absolute;
  top:50%;
  left:39.5%;
  background:#FF5050;
  transition:all ease .15s;
}

#ml{
  overflow: hidden; 
  height:20%;
  width:10%;
  position:absolute;  
  top:3%;
  left:87%;
  background:#FF5050;
  transition:all ease .15s;
}

#mc{
  overflow: hidden;
  height:20%;
  width:10%;
  position:absolute;  
  top:3%;
  left:99.5%;
  background:#FF5050;
  transition:all ease .15s;
}

#mr{
  overflow: hidden;
  height:17%;
  width:22%;
  position:absolute;  
  top:27%;
  left:87%;
  background:#FF5050;
  transition:all ease .15s;
}

#bl{
  overflow: hidden; 
  height:17%;
  width:23%;
  position:absolute;  
  top:52%;
  left:87%;
  background:#FF5050;
  transition:all ease .15s;
}

#bc{
  overflow: hidden;
  height:20%;
  width:10%;
  position:absolute;  
  top:73%;
  left:87%;
  background:#FF5050;
  transition:all ease .15s;
}
#br{
  overflow: hidden;
  height:20%;
  width:10%;
  position:absolute;  
  top:73%;
  left:100%;
  background:#FF5050;
  transition:all ease .15s;
}

#tl:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#tc:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#tr:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#ml:hover {
  transform: scale(1.4);
  cursor: pointer;
}

#mc:hover {
  transform: scale(1.4);
  cursor: pointer;
}

#mr:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#bl:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#bc:hover {
  transform: scale(1.4);
  cursor: pointer;
}

#br:hover {
  transform: scale(1.4);
  cursor: pointer;
}


#tl img {
  display: block;
  width: 150%;
  height: 100%;
}
#tl:hover img {
  opacity: 0.5;	
}

#tc img{
  display: block;
  width: 150%;
  height: 200%;
  position: relative;
  right: 80px;
  bottom: 40px;
}
#tc:hover img {
  opacity: 0.5;
}

#tr video{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#tr:hover video {
  opacity: 0.5;
}

#ml img{
  display: block;
  width: 100%;
  height: 100%;
}
#ml:hover img {
  opacity: 0.5;
}

#mc img{
  display: block;
  width: 100%;
  height: 100%;
}
#mc:hover img {
  opacity: 0.5;
}

#mr img{
  display: block;
  width: 150%;
  height: 200%;
  position: relative;
  bottom: 50px;
}
#mr:hover img {
  opacity: 0.5;
}

#bl img{
  display: block;
  width: 150%;
  height: 200%;
  position: relative;
  
}
#bl:hover img {
  opacity: 0.5;
}

#bc img{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  
}
#bc:hover img {
  opacity: 0.5;
}

#br img{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  
}
#br:hover img {
  opacity: 0.5;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.owl-carousel {
-ms-touch-action: pan-y;
touch-action: pan-y;
}
or
.owl-carousel {
-ms-touch-action: none;
touch-action: none;
}

.main-section
{
  color: white;
  padding: 5%;
}
.justified-copy
{
  text-align: justify;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.center-heading
{
  text-align: center;
}
.service-image
{
  height: 15vh;
  margin-bottom: 2%;
  margin-top: 5%;
}
.service-description
{
  color: white; 
}

.tricolumn {
  float: left;
  width: 25%;
  text-align: center;
  bottom: 70px;
}
.large-photo
{
  min-width: 90%;
  max-width: 90%;
}
.title-image
{
  position: relative;
  bottom: 70px;

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left:5%;
  margin-right: 5%;
  margin-top: 20vh;
}

/* Hide the images by default */
.mySlides1 .mySlides2{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade  ;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#our_work
{
  width:80%;
  text-align: center;
  margin-top: 20vh; 
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}